# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
env/

# IDE settings
.vscode/
.idea/

# ML model outputs
*.pt

# uv / pip
uv.lock
pip-lock.json

# OS files
.DS_Store
Thumbs.db
.python-version

# files
test_gpu_torch.pyc
*.zip
*.pth
*.png
